.pytest_cache
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
__pycache__
bandit.xml
checkov_results.xml
src/remediation-lambda.zip
terraform.tfstate
terraform.tfstate.backup
test/go.mod
test/go.sum
